In [1]:
import pandas as pd

In [10]:
frame = pd.read_csv('https://raw.githubusercontent.com/vilnius/taryba/master/data/meetings.csv', sep=';', nrows=1)
frame = pd.read_csv('https://raw.githubusercontent.com/vilnius/taryba/master/data/meetings.csv', sep=',', names=frame.columns, skiprows=1)

In [12]:
frame[~frame.PARTICIPANT_SHORT.isnull()].head(2).T

,2,37
ID,9993717,16689843
SHOWS,IŠORINĖS REKLAMOS KOMISIJOS POSĖDIS,VILNIAUS MIESTO SAVIVALDYBĖS TARYBOS POSĖDIS N...
AVILIO_ID,ad756500fee611e08c2c935694c9f359,28b470303bda11e3969c982bdbeacc7b
GROUP_ID,1,1
MEET_NR,NaN,46
MEETING_DATE,2011-10-26 13:30:00,2013-11-30 00:00:00
CREATE_DATE,2011-10-25 11:52:32,2013-10-23 14:56:32
CREATOR_ID,4916,50
CREATOR_INFO,Rūta Jakimavičienė&lt;br/&gt;&lt;br/&gt;Reklam...,Zuzana Žičienė&lt;br/&gt;&lt;br/&gt;Tarybos se...
CREATOR_SHORT,Rūta Jakimavičienė,Zuzana Žičienė
STATUS_ID,50,50
HEAD_ID,695,5671
HEAD_TYPE,1,1
HEAD_INFO,Jonas Urbanavičius&lt;br/&gt;&lt;br/&gt;Vilnia...,Artūras Zuokas&lt;br/&gt;&lt;br/&gt;Strategini...
HEAD_SHORT,Jonas Urbanavičius,Artūras Zuokas
PARTICIPANT_SHORT,Darius Paulius Vizgirda&lt;br/&gt;Marius Skaru...,Kęstutis Nėnius &lt;br/&gt;Romas Adomavičius&...
PARTICIPANT_INFO,Darius Paulius Vizgirda&lt;br/&gt;&lt;br/&gt;R...,&lt;p&gt;Kęstutis Nėnius &lt;br/&gt;&lt;br/&g...
MEET_HASH,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e
FOREIGNMEET_ID,NaN,NaN
NOW_ACTIVE,NaN,NaN
PLACE,NaN,NaN

In [13]:
frame = pd.read_csv('https://github.com/vilnius/taryba/blob/master/data/votes.csv?raw=true')
frame.head(2).T

                                0                    1
ID                              1                    2
SHOWS                          Už                   Už
QUESTION_ID                 28143                28143
MEETING_ID               10504907             10504907
VOTING_INFO        R. Adomavičius            R. Alekna
VOTING_SHORT       R. Adomavičius            R. Alekna
VOTE_DATE     2012-01-24 13:07:13  2012-01-24 13:07:13
VOTE                           Už                   Už
SYS_ID                          1                    1

In [15]:
frame = pd.read_csv('https://github.com/vilnius/taryba/blob/master/data/aggregate.csv?raw=true', sep=';')
frame.head(2).T

,0,1
ID,9364,9449
QUESTION_ID,21546,21547
SHOWS,NaN,NaN
MEETING_ID,9.86426e+06,9.86426e+06
MEETING_SHOWS,VILNIAUS MIESTO SAVIVALDYBĖS TARYBOS POSĖDIS N...,VILNIAUS MIESTO SAVIVALDYBĖS TARYBOS POSĖDIS N...
VOTING_ID,0,0
VOTING_INFO,Pirmininkas,Pirmininkas
VOTING_SHORT,Pirmininkas,Pirmininkas
VOTING_TYPE,0,0
VOTING_ORGNODE_ID,0,0
VOTE_DATE,2011-10-12 12:47:31,2012-03-14 14:37:44
VOTE,Už,Už
SYS_ID,1,1
SHOWS.1,NaN,NaN